<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Angka Pertama</label>
  <input
    type="number"
    class="form-control"
    [(ngModel)]="data.firstNumber"
    id="exampleFormControlInput1"
    placeholder="Input Angka Pertama"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">Angka Kedua</label>
  <input
    type="number"
    class="form-control"
    [(ngModel)]="data.secondNumber"
    id="exampleFormControlInput2"
    placeholder="Input Angka Kedua"
  />
</div>

<h1>{{ tambah() }}</h1>
