<button class="btn btn-primary" (click)="showForm()">
  <i class="bi bi-box-arrow-up-right"></i> Show / Hide Form
</button>
<ng-container *ngIf="update">
  <button (click)="update = false" class="btn btn-warning">
    <i class="bi bi-plus-circle-fill"></i> Tambahkan Data
  </button>
</ng-container>
<form action="" *ngIf="show">
  <div class="my-3">
    <label for="inputNama" class="form-label">Input Nama</label>
    <input
      id="inputNama"
      type="text"
      class="form-control"
      [(ngModel)]="name"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Input your name"
    />
  </div>
  <div class="my-3">
    <label for="inputAge" class="formLabel">Input Umur</label>
    <input
      type="number"
      id="inputAge"
      class="form-control"
      placeholder="Input Your Age"
      [(ngModel)]="age"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="my-3 row" *ngIf="!update; else updateButton">
    <button (click)="sendData()" class="btn btn-primary">
      <i class="bi bi-person-plus-fill"></i> Submit
    </button>
  </div>
  <ng-template #updateButton>
    <div class="my-3 row">
      <button (click)="submitUpdate()" class="btn btn-success">
        <i class="bi bi-capslock-fill"></i> Update Data
      </button>
    </div>
  </ng-template>
</form>

<ng-container *ngFor="let items of person">
  <div class="mt-3">
    <app-card-name
      (cardValue)="deleteData($event)"
      (updateValue)="updateData($event)"
      [data]="items"
    ></app-card-name>
  </div>
</ng-container>
