<div class="d-flex flex-column flex-shrink-0 p-3 border-end">
  <div class="mx-2 px-2">
    <img
      src="https://assets.promediateknologi.com/crop/0x0:0x0/x/photo/2022/09/27/2537108960.jpg"
      height="45"
      alt="angular_logo"
    />
    <span class="fs-4">Main Menu</span>
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <ng-container *ngFor="let item of sidebarData">
      <li>
        <a
          routerLink="{{ item.link }}"
          routerLinkActive="active link-light text-light"
          class="nav-link link-dark"
        >
          {{ item.namaPage }}
        </a>
      </li>
    </ng-container>
  </ul>
</div>
