<div class="container">
  <h1>Halaman Top-Up E-Tol</h1>
  <!-- nomor kartu -->
  <div class="mb-3 row">
    <label for="inputPassword5" class="form-label">Nomor Kartu</label>
    <input
      type="text"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
      placeholder="Masukkan Nomor Kartu"
      name="nomorKartu"
    />
    <div id="passwordHelpBlock" class="form-text">
      Masukkan 16 Digit Nomor Kartu E-Tol Anda :)
    </div>
  </div>
  <!-- bank -->
  <div class="mb-3 row">
    <label for="jenis">Pilih Jenis Kartu E-Toll Anda</label>
    <select
      id="jenis"
      class="form-select form-select mb-3"
      aria-label=".form-select-lg example"
    >
      <option value="1">E-Money</option>
      <option value="2">Flazz</option>
      <option value="3">Brizzi</option>
    </select>
  </div>

  <!-- Nominal -->
  <div class="mb-3 row">
    <label for="inputPassword5" class="form-label">Nominal</label>
    <input
      type="number"
      id="nominal"
      class="form-control"
      aria-describedby="passwordHelpBlock"
      placeholder="Masukkan Nominal Top-up"
      name="nomorKartu"
    />
    <div id="nominal" class="form-text">Masukkan Nominal</div>
  </div>

  <div class="mb-3 row">
    <button class="btn btn-primary" id="buttonSubmit">Submit</button>
  </div>
</div>

<!-- <ng-container *ngIf="timer | async as data">
  <h1>{{ data }}</h1>
</ng-container> -->

<!-- History -->

<form>
  <div class="mb-3 row">
    <label
      for="table-filtering-search"
      class="col-xs-3 col-sm-auto col-form-label"
      >Full text search:</label
    >
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-filtering-search"
        class="form-control"
        type="text"
        [formControl]="filter"
      />
    </div>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">No Kartu</th>
        <th scope="col">Area</th>
        <th scope="col">Population</th>
        <th scope="col">Population</th>
        <th scope="col">Population</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight
            [result]="country.noKartuETol"
            [term]="filter.value"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="country.noReferensi"
            [term]="filter.value"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="country.statusTransaksi"
            [term]="filter.value"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="country.noKartuETol"
            [term]="filter.value"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="country.noKartuETol"
            [term]="filter.value"
          ></ngb-highlight>
        </td>
      </tr>
    </tbody>
  </table>
</div>
