<div
  class="container d-flex align-items-center justify-content-center"
  style="height: 500px"
>
  <div class="card" style="width: 30rem">
    <div class="card-header">
      <h3 class="text-center">
        {{ "LOGIN FORM" | translate }}
      </h3>
    </div>
    <div class="card-body p-4">
      <div class="row">
        <button class="btn btn-primary col-6" (click)="changeLanguage('en')">
          {{ "TO ENGLISH" | translate }}
        </button>
        <button class="btn btn-success col-6" (click)="changeLanguage('yd')">
          {{ "TO YIDDISH" | translate }}
        </button>
      </div>

      <ng-lottie [options]="lottieConfig" [height]="'200px'"></ng-lottie>

      <form action="" [formGroup]="formLogin">
        <div class="mb-3 row">
          <label for="username" class="p-1">{{
            "NO HANDPHONE" | translate
          }}</label>
          <input
            type="text"
            formControlName="phoneNumber"
            id="username"
            class="form-control ml-3"
            name="phoneNumber"
          />
          <div
            *ngIf="
              (errorController['phoneNumber'].dirty ||
                errorController['phoneNumber'].touched) &&
              errorController['phoneNumber'].errors
            "
          >
            <span *ngIf="errorController['phoneNumber'].errors['required']">{{
              "PHONE NUMBER IS REQUIRED" | translate
            }}</span>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="password" class="p-1">{{ "USER PIN" | translate }}</label>
          <div class="d-flex">
            <input
              type="{{ isPass ? 'password' : 'text' }}"
              formControlName="userPin"
              id="password"
              class="form-control ml-3 rounded-start"
              name="userPin"
            />

            <button class="btn btn-secondary" (click)="showType()">
              <i
                [ngClass]="isPass ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"
              ></i>
            </button>
          </div>
          <div
            *ngIf="
              (errorController['userPin'].dirty ||
                errorController['userPin'].touched) &&
              errorController['userPin'].errors
            "
          >
            <span *ngIf="errorController['userPin'].errors['required']">{{
              "USER PIN IS REQUIRED" | translate
            }}</span>
            <span *ngIf="errorController['userPin'].errors['minlength']">{{
              "MIN LENGTH USER PIN IS 8" | translate
            }}</span>
          </div>
        </div>
        <div class="row">
          <!-- <button (click)="loginUser()" class="btn btn-primary">Login</button> -->
          <button
            (click)="loginViaAngular()"
            class="btn btn-primary"
            [disabled]="!formLogin.valid"
          >
            {{ "LOGIN" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
