<div class="card my-4">
  <div class="card-header">Register Form</div>
  <div class="card-body">
    <form action="">
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >No Handphone</label
        >
        <div class="col-sm-10">
          <input
            [(ngModel)]="requestMember.phoneNumber"
            type="text"
            class="form-control rounded-pill"
            id="staticEmail"
            placeholder="Ex : 08XXXXXXXXXX"
            name="phoneNumber"
          />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Pin</label>
        <div class="col-sm-10">
          <input
            type="password"
            [(ngModel)]="requestMember.userPin"
            class="form-control rounded-pill"
            id="inputPassword"
            name="userPint"
          />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            [(ngModel)]="requestMember.userEmail"
            class="form-control rounded-pill"
            id="inputEmail"
            placeholder="Masukkan Email Anda"
            name="email"
          />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
          <input
            type="text"
            [(ngModel)]="requestMember.name"
            class="form-control rounded-pill"
            id="inputNama"
            placeholder="Masukkan Nama Anda"
            name="nama"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-3 offset-5">
          <!-- <button
            (click)="sendData()"
            class="w-100 h-100 btn btn-primary rounded-pill"
            id="submit"
          >
            Submit
          </button> -->
          <button
            (click)="sendDataViaAngular()"
            class="btn btn-primary rounded-pill w-100 h-100"
            id="submit"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
