<div class="d-flex">
  <div class="w-25">
    <app-sidebar></app-sidebar>
  </div>
  <div class="container overflow-auto vw-100">
    <div class="m-3 p-3 shadow-lg bg-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
