<div class="card mt-5">
  <h5 class="card-header">
    {{ data.name }}
  </h5>
  <div class="card-body">
    <h5 class="card-title">{{ data.age }}</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <div class="row">
      <div class="col-6">
        <button (click)="doDelete()" class="btn btn-danger">
          <i class="bi bi-exclamation-circle-fill"></i> Delete
        </button>
      </div>
      <div class="col-6">
        <button (click)="doUpdate()" class="btn btn-success">
          <i class="bi bi-search"></i> Update
        </button>
      </div>
    </div>
  </div>
</div>
